### Clean and Combine Initial Datasets

In [353]:
# import libraries
import pandas as pd
import regex as re

In [100]:
def load_and_clean(csv_path, genre):
    
    # load data
    df = pd.read_csv(csv_path)

    # dropping the column for Original_Book_Title because it doesn't provide much additional information
    # dropping Genres column, each entry appears to be a dict of genres which is not going to translate well into the database
    df = df.drop(columns=['Original_Book_Title', 'Genres'])
    df.drop_duplicates(inplace=True)

    #fill null values
    df.loc[df['Edition_Language'].isna(), 'Edition_Language'] = 'None'
    df.loc[df['Book_Description'].isna(), 'Book_Description'] = 'No description available.'

    #add updated genre info
    df['Genre'] = genre
    return df

In [101]:
sf_aliens_df = load_and_clean('sf_aliens.csv', 'Science Fiction (Aliens)')

In [102]:
# checking for null values
sf_aliens_df.isna().sum()

Book_Title          0
Author_Name         0
Edition_Language    0
Rating_score        0
Rating_votes        0
Review_number       0
Book_Description    0
Year_published      0
url                 0
Genre               0
dtype: int64

In [103]:
sf_alternate_hist_df = load_and_clean('sf_alternate_history.csv', 'Science Fiction (Alt History)')
sf_alternate_hist_df

,Book_Title,Author_Name,Edition_Language,Rating_score,Rating_votes,Review_number,Book_Description,Year_published,url,Genre
0,The Man in the High Castle,Philip K. Dick,English,3.62,180593,11895,It's America in 1962. Slavery is legal once ag...,1962,https://www.goodreads.com/book/show/216363.The...,Science Fiction (Alt History)
1,His Majesty's Dragon,Naomi Novik,English,4.03,83308,6588,Aerial combat brings a thrilling new dimension...,2006,https://www.goodreads.com/book/show/28876.His_...,Science Fiction (Alt History)
2,Leviathan,Scott Westerfeld,English,3.90,88293,7052,"Prince Aleksander, would-be heir to the Austro...",2009,https://www.goodreads.com/book/show/6050678-le...,Science Fiction (Alt History)
3,Jonathan Strange & Mr Norrell,Susanna Clarke,English,3.82,206919,14397,"Sophisticated, witty, and ingeniously convinci...",2004,https://www.goodreads.com/book/show/14201.Jona...,Science Fiction (Alt History)
4,The Yiddish Policemen's Union,Michael Chabon,English,3.71,70984,6992,"For sixty years, Jewish refugees and their des...",2007,https://www.goodreads.com/book/show/16703.The_...,Science Fiction (Alt History)
...,...,...,...,...,...,...,...,...,...,...
1244,The Lady's Guide to Petticoats and Piracy,Mackenzi Lee,English,4.09,25718,4777,In this highly anticipated sequel to the New Y...,2018,https://www.goodreads.com/book/show/37880094-t...,Science Fiction (Alt History)
1245,Vox,Christina Dalcher,English,3.55,55972,9070,Set in an America where half the population ha...,2018,https://www.goodreads.com/book/show/37796866-vox,Science Fiction (Alt History)
1246,Arabella The Traitor of Mars,David D. Levine,English,3.77,205,44,Taking up almost immediately after the great B...,2018,https://www.goodreads.com/book/show/36314198-a...,Science Fiction (Alt History)
1247,Circe,Madeline Miller,English,4.26,392155,42746,"In the house of Helios, god of the sun and mig...",2018,https://www.goodreads.com/book/show/35959740-c...,Science Fiction (Alt History)
1248,An Ocean of Minutes,Thea Lim,English,3.45,4907,901,Shortlisted for the 2018 Scotiabank Giller Pri...,2018,https://www.goodreads.com/book/show/42202089-a...,Science Fiction (Alt History)

In [104]:
sf_alternate_hist_df.isna().sum()

Book_Title          0
Author_Name         0
Edition_Language    0
Rating_score        0
Rating_votes        0
Review_number       0
Book_Description    0
Year_published      0
url                 0
Genre               0
dtype: int64

In [105]:
sf_alternate_universe_df = load_and_clean('sf_alternate_universe.csv', 'Science Fiction (Alt Universe)')

In [106]:
sf_alternate_universe_df.isna().sum()

Book_Title          0
Author_Name         0
Edition_Language    0
Rating_score        0
Rating_votes        0
Review_number       0
Book_Description    0
Year_published      0
url                 0
Genre               0
dtype: int64

In [107]:
sf_apocalyptic_df = load_and_clean('sf_apocalyptic.csv', 'Science Fiction (Apocalyptic)')

In [108]:
sf_apocalyptic_df.isna().sum()

Book_Title          0
Author_Name         0
Edition_Language    0
Rating_score        0
Rating_votes        0
Review_number       0
Book_Description    0
Year_published      0
url                 0
Genre               0
dtype: int64

In [109]:
sf_cyberpunk_df = load_and_clean('sf_cyberpunk.csv', 'Science Fiction (Steampunk)')

In [110]:
sf_cyberpunk_df.isna().sum()

Book_Title          0
Author_Name         0
Edition_Language    0
Rating_score        0
Rating_votes        0
Review_number       0
Book_Description    0
Year_published      0
url                 0
Genre               0
dtype: int64

In [111]:
sf_dystopia_df = load_and_clean('sf_dystopia.csv', 'Science Fiction (Dystopia)')

In [112]:
sf_dystopia_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1242 entries, 0 to 1241
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        1242 non-null   object
 1   Author_Name       1242 non-null   object
 2   Edition_Language  1242 non-null   object
 3   Rating_score      1242 non-null   float64
 4   Rating_votes      1242 non-null   int64
 5   Review_number     1242 non-null   int64
 6   Book_Description  1242 non-null   object
 7   Year_published    1242 non-null   int64
 8   url               1242 non-null   object
 9   Genre             1242 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 106.7+ KB

In [113]:
sf_hard_df = load_and_clean('sf_hard.csv', 'Science Fiction (Hard)')

In [114]:
sf_hard_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1246 entries, 0 to 1245
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        1246 non-null   object
 1   Author_Name       1246 non-null   object
 2   Edition_Language  1246 non-null   object
 3   Rating_score      1246 non-null   float64
 4   Rating_votes      1246 non-null   int64
 5   Review_number     1246 non-null   int64
 6   Book_Description  1246 non-null   object
 7   Year_published    1246 non-null   int64
 8   url               1246 non-null   object
 9   Genre             1246 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 107.1+ KB

In [115]:
sf_military_df = load_and_clean('sf_military.csv', 'Science Fiction (Military)')

In [116]:
sf_military_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 0 to 1249
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        1250 non-null   object
 1   Author_Name       1250 non-null   object
 2   Edition_Language  1250 non-null   object
 3   Rating_score      1250 non-null   float64
 4   Rating_votes      1250 non-null   int64
 5   Review_number     1250 non-null   int64
 6   Book_Description  1250 non-null   object
 7   Year_published    1250 non-null   int64
 8   url               1250 non-null   object
 9   Genre             1250 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 107.4+ KB

In [117]:
sf_robots_df = load_and_clean('sf_robots.csv', 'Science Fiction (Robots)')

In [118]:
sf_robots_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 0 to 1249
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        1250 non-null   object
 1   Author_Name       1250 non-null   object
 2   Edition_Language  1250 non-null   object
 3   Rating_score      1250 non-null   float64
 4   Rating_votes      1250 non-null   int64
 5   Review_number     1250 non-null   int64
 6   Book_Description  1250 non-null   object
 7   Year_published    1250 non-null   int64
 8   url               1250 non-null   object
 9   Genre             1250 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 107.4+ KB

In [119]:
sf_space_opera_df = load_and_clean('sf_space_opera.csv', 'Science Fiction (Space Opera)')

In [120]:
sf_space_opera_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 0 to 1249
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        1235 non-null   object
 1   Author_Name       1235 non-null   object
 2   Edition_Language  1235 non-null   object
 3   Rating_score      1235 non-null   float64
 4   Rating_votes      1235 non-null   int64
 5   Review_number     1235 non-null   int64
 6   Book_Description  1235 non-null   object
 7   Year_published    1235 non-null   int64
 8   url               1235 non-null   object
 9   Genre             1235 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 106.1+ KB

In [121]:
sf_steampunk_df = load_and_clean('sf_steampunk.csv', 'Science Fiction (Steampunk)')

In [122]:
sf_steampunk_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 0 to 1249
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        1250 non-null   object
 1   Author_Name       1250 non-null   object
 2   Edition_Language  1250 non-null   object
 3   Rating_score      1250 non-null   float64
 4   Rating_votes      1250 non-null   int64
 5   Review_number     1250 non-null   int64
 6   Book_Description  1250 non-null   object
 7   Year_published    1250 non-null   int64
 8   url               1250 non-null   object
 9   Genre             1250 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 107.4+ KB

In [123]:
sf_time_travel_df = load_and_clean('sf_time_travel.csv', 'Science Fiction (Time Travel)')

In [125]:
sf_time_travel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1248 entries, 0 to 1247
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        1248 non-null   object
 1   Author_Name       1248 non-null   object
 2   Edition_Language  1248 non-null   object
 3   Rating_score      1248 non-null   float64
 4   Rating_votes      1248 non-null   int64
 5   Review_number     1248 non-null   int64
 6   Book_Description  1248 non-null   object
 7   Year_published    1248 non-null   int64
 8   url               1248 non-null   object
 9   Genre             1248 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 107.2+ KB

### Join dataframes

In [126]:
# stack the DataFrames
science_fiction_books_df =  pd.concat([sf_aliens_df, sf_alternate_hist_df, sf_alternate_universe_df, sf_apocalyptic_df, 
           sf_cyberpunk_df, sf_dystopia_df, sf_hard_df, sf_military_df, sf_robots_df, sf_space_opera_df,
           sf_steampunk_df, sf_time_travel_df], ignore_index=True, axis=0)

In [246]:
science_fiction_books_df = science_fiction_books_df.drop_duplicates()
science_fiction_books_df = science_fiction_books_df.reset_index(drop=True)
science_fiction_books_df

,Book_Title,Author_Name,Edition_Language,Rating_score,Rating_votes,Review_number,Book_Description,Year_published,url,Genre
0,Obsidian,Jennifer L. Armentrout,English,4.17,236780,18161,Starting over sucks.When we moved to West Virg...,2011,https://www.goodreads.com/book/show/12578077-o...,Science Fiction (Aliens)
1,Onyx,Jennifer L. Armentrout,English,4.27,153429,10497,BEING CONNECTED TO DAEMON BLACK SUCKS… Thanks ...,2012,https://www.goodreads.com/book/show/13047090-onyx,Science Fiction (Aliens)
2,The 5th Wave,Rick Yancey,English,4.03,400600,29990,"After the 1st wave, only darkness remains. Aft...",2013,https://www.goodreads.com/book/show/16101128-t...,Science Fiction (Aliens)
3,The Host,Stephenie Meyer,English,3.84,915026,41673,Melanie Stryder refuses to fade away. The eart...,2008,https://www.goodreads.com/book/show/1656001.Th...,Science Fiction (Aliens)
4,Opal,Jennifer L. Armentrout,None,4.27,129006,9463,No one is like Daemon Black.When he set out to...,2012,https://www.goodreads.com/book/show/13362536-opal,Science Fiction (Aliens)
...,...,...,...,...,...,...,...,...,...,...
14945,Tumbling Through Time,Gwyn Cready,English,3.34,312,51,"In her sparkling and hilarious debut, author G...",2000,https://www.goodreads.com/book/show/1888734.Tu...,Science Fiction (Time Travel)
14946,Time's Arrow,Martin Amis,English,3.71,14934,1106,In Time's Arrow the doctor Tod T. Friendly die...,1991,https://www.goodreads.com/book/show/23031.Time...,Science Fiction (Time Travel)
14947,Time Out of Joint,Philip K. Dick,English,3.85,11126,688,Time Out of Joint is Philip K. Dick’s classic ...,1959,https://www.goodreads.com/book/show/698034.Tim...,Science Fiction (Time Travel)
14948,Fog Magic,Julia L. Sauer,English,3.88,1204,170,"Originally published in 1943, this edition fea...",1943,https://www.goodreads.com/book/show/297891.Fog...,Science Fiction (Time Travel)
14949,Farnham's Freehold,Robert A. Heinlein,English,3.56,11337,407,"Hugh Farnham was a practical, self-made man, a...",1964,https://www.goodreads.com/book/show/50840.Farn...,Science Fiction (Time Travel)

In [247]:
science_fiction_books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14950 entries, 0 to 14949
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Book_Title        14950 non-null  object
 1   Author_Name       14950 non-null  object
 2   Edition_Language  14950 non-null  object
 3   Rating_score      14950 non-null  float64
 4   Rating_votes      14950 non-null  int64
 5   Review_number     14950 non-null  int64
 6   Book_Description  14950 non-null  object
 7   Year_published    14950 non-null  int64
 8   url               14950 non-null  object
 9   Genre             14950 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.1+ MB

### Save to CSV

In [248]:
science_fiction_books_df.to_csv('Science_Fiction_Books_Database.csv')

### Set up Files for Database

In [249]:
science_fiction_books_df.head()

,Book_Title,Author_Name,Edition_Language,Rating_score,Rating_votes,Review_number,Book_Description,Year_published,url,Genre
0,Obsidian,Jennifer L. Armentrout,English,4.17,236780,18161,Starting over sucks.When we moved to West Virg...,2011,https://www.goodreads.com/book/show/12578077-o...,Science Fiction (Aliens)
1,Onyx,Jennifer L. Armentrout,English,4.27,153429,10497,BEING CONNECTED TO DAEMON BLACK SUCKS… Thanks ...,2012,https://www.goodreads.com/book/show/13047090-onyx,Science Fiction (Aliens)
2,The 5th Wave,Rick Yancey,English,4.03,400600,29990,"After the 1st wave, only darkness remains. Aft...",2013,https://www.goodreads.com/book/show/16101128-t...,Science Fiction (Aliens)
3,The Host,Stephenie Meyer,English,3.84,915026,41673,Melanie Stryder refuses to fade away. The eart...,2008,https://www.goodreads.com/book/show/1656001.Th...,Science Fiction (Aliens)
4,Opal,Jennifer L. Armentrout,None,4.27,129006,9463,No one is like Daemon Black.When he set out to...,2012,https://www.goodreads.com/book/show/13362536-opal,Science Fiction (Aliens)

##### This is the diagram for the relational database.

![image.jpg](Scifi_Database_Map.jpg)

In [413]:
# this will be the books table
books_df = science_fiction_books_df[['Book_Title', 'Author_Name', 'Genre', 'Edition_Language', 'Year_published', 'url', \
                                     'Book_Description', 'Rating_score', 'Rating_votes', 'Review_number']]

In [414]:
# still having issues with duplicates even after previously dropping duplicates from the larger dataframe
# likely this is a feature of the data gathering method used, there may have been the same book in multiple genre tables
books_df = books_df.drop_duplicates()
books_df = books_df.reset_index(drop=True)
books_df

,Book_Title,Author_Name,Genre,Edition_Language,Year_published,url,Book_Description,Rating_score,Rating_votes,Review_number
0,Obsidian,Jennifer L. Armentrout,Science Fiction (Aliens),English,2011,https://www.goodreads.com/book/show/12578077-o...,Starting over sucks.When we moved to West Virg...,4.17,236780,18161
1,Onyx,Jennifer L. Armentrout,Science Fiction (Aliens),English,2012,https://www.goodreads.com/book/show/13047090-onyx,BEING CONNECTED TO DAEMON BLACK SUCKS… Thanks ...,4.27,153429,10497
2,The 5th Wave,Rick Yancey,Science Fiction (Aliens),English,2013,https://www.goodreads.com/book/show/16101128-t...,"After the 1st wave, only darkness remains. Aft...",4.03,400600,29990
3,The Host,Stephenie Meyer,Science Fiction (Aliens),English,2008,https://www.goodreads.com/book/show/1656001.Th...,Melanie Stryder refuses to fade away. The eart...,3.84,915026,41673
4,Opal,Jennifer L. Armentrout,Science Fiction (Aliens),None,2012,https://www.goodreads.com/book/show/13362536-opal,No one is like Daemon Black.When he set out to...,4.27,129006,9463
...,...,...,...,...,...,...,...,...,...,...
14945,Tumbling Through Time,Gwyn Cready,Science Fiction (Time Travel),English,2000,https://www.goodreads.com/book/show/1888734.Tu...,"In her sparkling and hilarious debut, author G...",3.34,312,51
14946,Time's Arrow,Martin Amis,Science Fiction (Time Travel),English,1991,https://www.goodreads.com/book/show/23031.Time...,In Time's Arrow the doctor Tod T. Friendly die...,3.71,14934,1106
14947,Time Out of Joint,Philip K. Dick,Science Fiction (Time Travel),English,1959,https://www.goodreads.com/book/show/698034.Tim...,Time Out of Joint is Philip K. Dick’s classic ...,3.85,11126,688
14948,Fog Magic,Julia L. Sauer,Science Fiction (Time Travel),English,1943,https://www.goodreads.com/book/show/297891.Fog...,"Originally published in 1943, this edition fea...",3.88,1204,170
14949,Farnham's Freehold,Robert A. Heinlein,Science Fiction (Time Travel),English,1964,https://www.goodreads.com/book/show/50840.Farn...,"Hugh Farnham was a practical, self-made man, a...",3.56,11337,407

In [415]:
# I want only unique book titles, there are 10706 unique out of 14950 total
# there are more unique urls than book titles
# since two different books CAN have the same title, will use urls to reduce duplicates
books_df.nunique()

Book_Title          10706
Author_Name          3973
Genre                  11
Edition_Language       15
Year_published        120
url                 11104
Book_Description    11020
Rating_score          201
Rating_votes         7749
Review_number        3053
dtype: int64

In [416]:
# dropping entries with duplicate urls
books_df = books_df.drop_duplicates(subset='url', keep="first")
books_df = books_df.reset_index(drop=True)
books_df

,Book_Title,Author_Name,Genre,Edition_Language,Year_published,url,Book_Description,Rating_score,Rating_votes,Review_number
0,Obsidian,Jennifer L. Armentrout,Science Fiction (Aliens),English,2011,https://www.goodreads.com/book/show/12578077-o...,Starting over sucks.When we moved to West Virg...,4.17,236780,18161
1,Onyx,Jennifer L. Armentrout,Science Fiction (Aliens),English,2012,https://www.goodreads.com/book/show/13047090-onyx,BEING CONNECTED TO DAEMON BLACK SUCKS… Thanks ...,4.27,153429,10497
2,The 5th Wave,Rick Yancey,Science Fiction (Aliens),English,2013,https://www.goodreads.com/book/show/16101128-t...,"After the 1st wave, only darkness remains. Aft...",4.03,400600,29990
3,The Host,Stephenie Meyer,Science Fiction (Aliens),English,2008,https://www.goodreads.com/book/show/1656001.Th...,Melanie Stryder refuses to fade away. The eart...,3.84,915026,41673
4,Opal,Jennifer L. Armentrout,Science Fiction (Aliens),None,2012,https://www.goodreads.com/book/show/13362536-opal,No one is like Daemon Black.When he set out to...,4.27,129006,9463
...,...,...,...,...,...,...,...,...,...,...
11099,Always Mine,Sophia Johnson,Science Fiction (Time Travel),English,2006,https://www.goodreads.com/book/show/524577.Alw...,The great Lord Damron is no more than a shadow...,3.55,276,27
11100,Hour of the Olympics,Mary Pope Osborne,Science Fiction (Time Travel),English,1998,https://www.goodreads.com/book/show/181401.Hou...,The #1 bestselling chapter book series of all ...,3.94,8710,284
11101,Tumbling Through Time,Gwyn Cready,Science Fiction (Time Travel),English,2000,https://www.goodreads.com/book/show/1888734.Tu...,"In her sparkling and hilarious debut, author G...",3.34,312,51
11102,Time's Arrow,Martin Amis,Science Fiction (Time Travel),English,1991,https://www.goodreads.com/book/show/23031.Time...,In Time's Arrow the doctor Tod T. Friendly die...,3.71,14934,1106
11103,Fog Magic,Julia L. Sauer,Science Fiction (Time Travel),English,1943,https://www.goodreads.com/book/show/297891.Fog...,"Originally published in 1943, this edition fea...",3.88,1204,170

In [417]:
# this will be the authors table
authors_df = science_fiction_books_df[['Author_Name']]
authors_df

                  Author_Name
0      Jennifer L. Armentrout
1      Jennifer L. Armentrout
2                 Rick Yancey
3             Stephenie Meyer
4      Jennifer L. Armentrout
...                       ...
14945             Gwyn Cready
14946             Martin Amis
14947          Philip K. Dick
14948          Julia L. Sauer
14949      Robert A. Heinlein

[14950 rows x 1 columns]

In [418]:
# getting dict of unique author names
unique_auth = list(authors_df.Author_Name.unique())
authors_dict = {}

for count, values in enumerate(unique_auth):
    authors_dict[values] = count

In [419]:
authors_dict

{'Jennifer L. Armentrout': 0,
 'Rick Yancey': 1,
 'Stephenie Meyer': 2,
 'Pittacus Lore': 3,
 'Melissa Landers': 4,
 'Orson Scott Card': 5,
 'Ruby Dixon': 6,
 'Douglas Adams': 7,
 'Evangeline Anderson': 8,
 'Amie Kaufman': 9,
 'Marissa Meyer': 10,
 'Laurann Dohner': 11,
 'H.G. Wells': 12,
 'M.K. Eidem': 13,
 'Becky Chambers': 14,
 'Gena Showalter': 15,
 'Melissa  West': 16,
 'R. Lee Smith': 17,
 'Amanda Milo': 18,
 'Liu Cixin': 19,
 'Ilona Andrews': 20,
 'Eve Langlais': 21,
 'Sylvain Neuvel': 22,
 'Anna Zaires': 23,
 'Penelope Fletcher': 24,
 'S.E. Smith': 25,
 'Brian K. Vaughan': 26,
 'Nnedi Okorafor': 27,
 'Ernest Cline': 28,
 'Patrick Ness': 29,
 'Arthur C. Clarke': 30,
 'Lyn Gala': 31,
 'Gini Koch': 32,
 'Octavia E. Butler': 33,
 'Matt Haig': 34,
 'Kurt Vonnegut Jr.': 35,
 'Rachel Bach': 36,
 'R.J. Anderson': 37,
 'Zoey Draven': 38,
 'Sherrilyn Kenyon': 39,
 'Kimberly Derting': 40,
 'John Scalzi': 41,
 'V.C. Lancaster': 42,
 'Lolita Lopez': 43,
 'Brandon Sanderson': 44,
 'Shaun David Hutchinson': 45,
 'Anna Carven': 46,
 'Megan Shepherd': 47,
 'Stacey Kade': 48,
 'Michelle Diener': 49,
 'Ray Bradbury': 50,
 'Stephen King': 51,
 'C.L. Scholey': 52,
 'Poppy Rhys': 53,
 'Mary Doria Russell': 54,
 'Kiersten Fay': 55,
 'Lisa Henry': 56,
 'Eve Silver': 57,
 'Ann Aguirre': 58,
 'Alessandra Hazard': 59,
 'Ursula K. Le Guin': 60,
 'Willow Danes': 61,
 'Demitria Lunetta': 62,
 'Amy A. Bartol': 63,
 'Michelle Howard': 64,
 'James Patterson': 65,
 'Tracy St. John': 66,
 'Victoria Aveline': 67,
 'Carl Sagan': 68,
 "Madeleine L'Engle": 69,
 'Robert A. Heinlein': 70,
 'Susan Trombley': 71,
 'James S.A. Corey': 72,
 'Beth Revis': 73,
 'K.A. Applegate': 74,
 'Adam Rex': 75,
 'Stacy  Jones': 76,
 'Joe Haldeman': 77,
 'China Miéville': 78,
 'J.M. Link': 79,
 'Margaret Stohl': 80,
 'Malinda Lo': 81,
 "Kaitlyn O'Connor": 82,
 'Hank Green': 83,
 'Theresa Kay': 84,
 'Anna Hackett': 85,
 'Peter Watts': 86,
 'Trisha Leigh': 87,
 'J. Barton Mitchell': 88,
 'Ann Leckie': 89,
 'Jaid Black': 90,
 'Stephanie   Snow': 91,
 'Larry Niven': 92,
 'Jeanette Lynn': 93,
 'M.A. Church': 94,
 'Judy Mays': 95,
 'Michael Crichton': 96,
 'Claire Kent': 97,
 'Angela Castle': 98,
 'T.A. White': 99,
 'Renee Rose': 100,
 'J. Fally': 101,
 'Erin Tate': 102,
 'Vernor Vinge': 103,
 'G.L. Carriger': 104,
 'Lindsay  Ellis': 105,
 'Kora Knight': 106,
 'Jaymin Eve': 107,
 'Rob Colton': 108,
 'Alechia Dow': 109,
 'Lanette Curington': 110,
 'Michelle M. Pillow': 111,
 'Eileen Glass': 112,
 'David Wiesner': 113,
 'Rachel Caine': 114,
 'Calista Skye': 115,
 'Wesley Chu': 116,
 'Erin Raegan': 117,
 'Catherynne M. Valente': 118,
 'Laurie Roma': 119,
 'Melinda Metz': 120,
 'Adrian Tchaikovsky': 121,
 'Cara Bristol': 122,
 'Tim Lebbon': 123,
 'Christopher Paolini': 124,
 'Cia_': 125,
 'Karen Lord': 126,
 'Robin L. Rotham': 127,
 'Neil Gaiman': 128,
 'Louise Wise': 129,
 'Whitley Strieber': 130,
 'Honey Phillips': 131,
 'Stanisław Lem': 132,
 'Linda Mooney': 133,
 'RaShelle Workman': 134,
 'Tade Thompson': 135,
 'Sadie Carter': 136,
 'Sandra   Harris': 137,
 'Lexi Ander': 138,
 'Tymber Dalton': 139,
 'Edgar Rice Burroughs': 140,
 'Sue Burke': 141,
 'Stephanie West': 142,
 'Hiroshi Sakurazaka': 143,
 'Taylor Vaughn': 144,
 'Robin Moray': 145,
 'Andrea K. Höst': 146,
 'Cheryl Brooks': 147,
 'Lara Adrian': 148,
 'Dan Simmons': 149,
 'Angelique Anjou': 150,
 'Lydia Hope': 151,
 'Tiffany Roberts': 152,
 'Grace  Goodwin': 153,
 'Jennifer Foehner Wells': 154,
 'Jeff VanderMeer': 155,
 'Cherise Sinclair': 156,
 'Iain M. Banks': 157,
 'Isaac Asimov': 158,
 'Isabel Wroth': 159,
 'Chani Lynn Feener': 160,
 'Scarlett Dawn': 161,
 'Shelly Crane': 162,
 'Kresley Cole': 163,
 'Miranda Bridges': 164,
 'Milana Jacks': 165,
 'Miranda Martin': 166,
 'Rob  Reid': 167,
 'Walter Jury': 168,
 'C.J. Cherryh': 169,
 'Scott Sigler': 170,
 'Ted Chiang': 171,
 'Arkady Strugatsky': 172,
 'Ann Mayburn': 173,
 'Erica Stevens': 174,
 'Clifford D. Simak': 175,
 'L.A. Casey': 176,
 'Dennis E. Taylor': 177,
 'Charlee Allden': 178,
 'Mina Carter': 179,
 'Megan Crewe': 180,
 'Erich von Däniken': 181,
 'Frank Herbert': 182,
 'Anne McCaffrey': 183,
 'Laura Pohl': 184,
 'Jamie Craig': 185,
 'Julia Rachel Barrett': 186,
 'C.S. Lewis': 187,
 'Cynthia Sax': 188,
 'Marie Dry': 189,
 'Elizabeth Norris': 190,
 'Loribelle Hunt': 191,
 'Peter F. Hamilton': 192,
 'S.J. Sanders': 193,
 'K. Webster': 194,
 'Naomi Lucas': 195,
 'Grace Draven': 196,
 'Erin Durante': 197,
 'Johanna Lindsey': 198,
 'Robert Charles Wilson': 199,
 'Sara Wolf': 200,
 'Shannon Hale': 201,
 'Susan Grant': 202,
 'John Christopher': 203,
 'Lee Savino': 204,
 'Alana Khan': 205,
 'Jomny Sun': 206,
 'Kim Fox': 207,
 'Jack Finney': 208,
 'Alan Dean Foster': 209,
 'Dean Koontz': 210,
 'Olivia  Riley': 211,
 'A.G. Wilde': 212,
 'Tracy Lauren': 213,
 'Mark Alders': 214,
 'Ben Hatke': 215,
 'David Brin': 216,
 'Hope Hart': 217,
 'Sandra R. Neeley': 218,
 'Bey Deckard': 219,
 'Hannah Davenport': 220,
 'Shea Malloy': 221,
 'Michel Faber': 222,
 'Jory Strong': 223,
 'Dara Joy': 224,
 'Alastair Reynolds': 225,
 'H. Beam Piper': 226,
 'Kate Rudolph': 227,
 'Robison Wells': 228,
 'Samantha Shannon': 229,
 'Brenda Hiatt': 230,
 'Cecil Castellucci': 231,
 'Bethany Aan': 232,
 'Angel  Martinez': 233,
 'Morgan Hawke': 234,
 'Farah Naz Rishi': 235,
 'M.T. Anderson': 236,
 'Wendy Higgins': 237,
 'Scott Reintgen': 238,
 'Layla Nash': 239,
 'Dianne Duvall': 240,
 'Theolyn Boese': 241,
 'Marly Chance': 242,
 'Bruce Coville': 243,
 'Elizabeth Moon': 244,
 'Mira Grant': 245,
 'Sara Page': 246,
 'Shannon West': 247,
 'Gail Koger': 248,
 'James Frey': 249,
 'J.K. Accinni': 250,
 'Margaret McNamara': 251,
 'Amber Kell': 252,
 'Robert J. Sawyer': 253,
 'Frederik Pohl': 254,
 'William Gibson': 255,
 'Nathan W. Pyle': 256,
 'Kelly Lucille': 257,
 'D.B. Reynolds': 258,
 'Leora Gonzales': 259,
 'T.J. Yelden': 260,
 'Monette Michaels': 261,
 'K.C. Burn': 262,
 'Carly Fall': 263,
 'Laura Jo Phillips': 264,
 'Katherine Allred': 265,
 'Delores Diamond': 266,
 'Sean Platt': 267,
 'Jason M. Hough': 268,
 'Paul Antony Jones': 269,
 'Johan Harstad': 270,
 'Kate Pearce': 271,
 'Tanya Huff': 272,
 'Antoine de Saint-Exupéry': 273,
 'Oliver Jeffers': 274,
 'Jordan L. Hawk': 275,
 'Michele Mills': 276,
 'Ruby Lionsdrake': 277,
 'Mara Frost': 278,
 'Christopher Golden': 279,
 'Jennifer M. Eaton': 280,
 'G.S. Jennsen': 281,
 'Jamie Grey': 282,
 'Hazel Gower': 283,
 'Stormy Glenn': 284,
 'Steve Perry': 285,
 'Linnea Sinclair': 286,
 'Ella Maven': 287,
 'Lea Linnett': 288,
 'Nia Mars': 289,
 'Siobhan Davis': 290,
 'Tasha Black': 291,
 'Aya Morningstar': 292,
 'Carrie Jones': 293,
 'Alexandra Blogier': 294,
 'Celia Kyle': 295,
 'James L. Cambias': 296,
 'Nicole Krizek': 297,
 'K.D. Jones': 298,
 'Edward W. Robertson': 299,
 'John W. Campbell Jr.': 300,
 'Alexis Deacon': 301,
 'Walter Tevis': 302,
 'Laura Baumbach': 303,
 'Timothy Zahn': 304,
 "Bianca D'Arc": 305,
 'Ava  Jae': 306,
 'Milly Taiden': 307,
 'James A. Moore': 308,
 'Solange Ayre': 309,
 'Christine Pope': 310,
 "Christine d'Abo": 311,
 'Kitty Thomas': 312,
 'Luna Kingsley': 313,
 'Caroline  Gibson': 314,
 'Addison Cain': 315,
 'Nancey Cummings': 316,
 'Fonda Lee': 317,
 'Mychal Daniels': 318,
 'Peggy  Barnett': 319,
 'Jenn Burke': 320,
 'Jamie McGuire': 321,
 'Devi Mara': 322,
 'Martin Leicht': 323,
 'A.M. Hargrove': 324,
 'Claire Freedman': 325,
 'Luna Hunter': 326,
 'Lesli Richardson': 327,
 'Pearl Tate': 328,
 'Bex McLynn': 329,
 'Jon Agee': 330,
 'Susan  Hayes': 331,
 'Antoinette Portis': 332,
 'Lisa Lace': 333,
 'Mardi Maxwell': 334,
 'Karen McQuestion': 335,
 'Mindee Arnett': 336,
 'Christian Schoon': 337,
 'Suze Reese': 338,
 'Trista Ann Michaels': 339,
 'Ann Somerville': 340,
 'Marie Harte': 341,
 'Stephen Wallenfels': 342,
 'Jess Granger': 343,
 'John Wyndham': 344,
 'Autumn Dawn': 345,
 'Robin Lovett': 346,
 'Jim C. Hines': 347,
 'Gabrielle S. Prendergast': 348,
 'Catherine   Miller': 349,
 'Lea Kirk': 350,
 'Jeff Lemire': 351,
 'Jacqueline Rhoades': 352,
 'Gwendolyn Cease': 353,
 'Kari Gregg': 354,
 'Aleksandr Voinov': 355,
 'Jean Johnson': 356,
 'J.C. Owens': 357,
 'Ella James': 358,
 'Tracey Lee Campbell': 359,
 'Julie E. Czerneda': 360,
 'S.M. Matthews': 361,
 'Tana Stone': 362,
 'A.G. Riddle': 363,
 'Charlie Jane Anders': 364,
 'Craig Alanson': 365,
 'Cadwell Turnbull': 366,
 'Alison Aimes': 367,
 'B.D. Snowden': 368,
 'Mikayla Lane': 369,
 'Stormy McKnight': 370,
 'Marko Kloos': 371,
 'Cyndi Friberg': 372,
 'S.L. Viehl': 373,
 'Eoin Colfer': 374,
 'Jack McDevitt': 375,
 'Karen Traviss': 376,
 'Presley Hall': 377,
 'Martha Wells': 378,
 'Kiki Burrelli': 379,
 'Chana Porter': 380,
 'C.W. Gray': 381,
 'Gene Doucette': 382,
 'H.P. Lovecraft': 383,
 'Caryn Lix': 384,
 'Mary Auclair': 385,
 'Scarlett Starkleigh': 386,
 'Regine Abel': 387,
 'Claudia Gray': 388,
 'Vi Voxley': 389,
 'Tammi Sauer': 390,
 'Harmony Raines': 391,
 'Vera Nazarian': 392,
 'Susan Kearney': 393,
 'Amylea Lyn': 394,
 'Sylvia Day': 395,
 'Richard Paul Russo': 396,
 'Greg Bear': 397,
 'Elizabeth Bear': 398,
 'Geoff Rodkey': 399,
 'Auryn Hadley': 400,
 'Marla Therron': 401,
 'Maddie Taylor': 402,
 'Emma Newman': 403,
 'Sabine Priestley': 404,
 'Kim Fielding': 405,
 'J.J. Lore': 406,
 'Will McIntosh': 407,
 'Janet  Edwards': 408,
 'Patricia A. Knight': 409,
 'Michael  Grant': 410,
 'Melanie Nilles': 411,
 'David Weber': 412,
 'Marcella Burnard': 413,
 'Mark Haddon': 414,
 'Justine Davis': 415,
 'Michael Flynn': 416,
 'Elizabeth  Stephens': 417,
 'Hitoshi Iwaaki': 418,
 'David Wellington': 419,
 'Cari Silverwood': 420,
 'Kelly   Jensen': 421,
 'Veronica Roth': 422,
 'Elsa Jade': 423,
 'Marina Maddix': 424,
 'Chris T. Kat': 425,
 'Shae Mills': 426,
 'Nancy Kress': 427,
 'Janet  Miller': 428,
 'Ruth Ann Nordin': 429,
 'Syd McGinley': 430,
 'Joanna Wylde': 431,
 'Angelia Whiting': 432,
 'C.B. Conwy': 433,
 'S.D. Perry': 434,
 'Jon S. Lewis': 435,
 'Alison Goodman': 436,
 'Sheri S. Tepper': 437,
 'Catherine Spangler': 438,
 'Neal Stephenson': 439,
 'Jude  Gray': 440,
 'John L. Hare': 441,
 'Alex White': 442,
 'Evan Currie': 443,
 'Craig A. Falconer': 444,
 'J. Patrick Black': 445,
 'Jenika Snow': 446,
 'Samantha Cayto': 447,
 'Sue Mercury': 448,
 'Lia Black': 449,
 'Cambria Hebert': 450,
 'Lizzy Ford': 451,
 'Mini Grey': 452,
 'Mark Verheiden': 453,
 'S.G. Redling': 454,
 'John Connolly': 455,
 'Belinda McBride': 456,
 'Lisanne Norman': 457,
 'Amy Thomson': 458,
 'David Bischoff': 459,
 'Philip K. Dick': 460,
 'Naomi Novik': 461,
 'Scott Westerfeld': 462,
 'Susanna Clarke': 463,
 'Michael Chabon': 464,
 'Robert   Harris': 465,
 'Mary Robinette Kowal': 466,
 'Kim Stanley Robinson': 467,
 'Eric Flint': 468,
 'Harry Turtledove': 469,
 'Jasper Fforde': 470,
 'Philip Roth': 471,
 'Cherie Priest': 472,
 'Jo Walton': 473,
 'Justina Ireland': 474,
 'Ben H. Winters': 475,
 'Gail Carriger': 476,
 'Ryan Graudin': 477,
 'Sarah Gailey': 478,
 'Seth Grahame-Smith': 479,
 'Alan Moore': 480,
 'S.M. Stirling': 481,
 'Colson Whitehead': 482,
 'Kim Newman': 483,
 'Ian Tregillis': 484,
 'Taylor Anderson': 485,
 'Max Brooks': 486,
 'Cynthia Hand': 487,
 'John Birmingham': 488,
 'Kiersten White': 489,
 'Mark Hodder': 490,
 'Margaret Atwood': 491,
 'P. Djèlí Clark': 492,
 'Philip Pullman': 493,
 'Keith Roberts': 494,
 'C.J. Sansom': 495,
 'Len Deighton': 496,
 'Ward Moore': 497,
 'Nisi Shawl': 498,
 'George Orwell': 499,
 'Stephen Fry': 500,
 'Jacqueline Carey': 501,
 'Patricia C. Wrede': 502,
 'Larry Correia': 503,
 'Katharine McGee': 504,
 'E.K. Johnston': 505,
 'Charlaine Harris': 506,
 'Brooke Bolander': 507,
 'Richard Dreyfuss': 508,
 'Alan Smale': 509,
 'Kate Elliott': 510,
 'Terry Pratchett': 511,
 'Robert Conroy': 512,
 'Robert Cowley': 513,
 'Steven Barnes': 514,
 'V.E. Schwab': 515,
 'David Drake': 516,
 'Laura Andersen': 517,
 'L. Sprague de Camp': 518,
 'Matt Ruff': 519,
 'Kate Atkinson': 520,
 'Marie Brennan': 521,
 'Harry Harrison': 522,
 'Zen Cho': 523,
 'George R.R. Martin': 524,
 'Meljean Brook': 525,
 'Peter Tieryas': 526,
 'Kazuo Ishiguro': 527,
 'Sinclair Lewis': 528,
 'Stephen L. Carter': 529,
 'Kate Locke': 530,
 'Genevieve Cogman': 531,
 'Jonathan Stroud': 532,
 'Connie Willis': 533,
 'Greg Keyes': 534,
 'M.K. Hobson': 535,
 'David D. Levine': 536,
 'John M. Ford': 537,
 'Robert Silverberg': 538,
 'Kingsley Amis': 539,
 'Elan Mastai': 540,
 'Gregory Benford': 541,
 'Malorie Blackman': 542,
 'Rod Duncan': 543,
 'Mark Millar': 544,
 'George Mann': 545,
 'Robert Sobel': 546,
 'Naomi Alderman': 547,
 'Guy Gavriel Kay': 548,
 'Kenneth Oppel': 549,
 'Anne Lyle': 550,
 'Clay Griffith': 551,
 'Norman Spinrad': 552,
 'Brendan DuBois': 553,
 'Joan Aiken': 554,
 'Gardner Dozois': 555,
 'Claire North': 556,
 'Adam Christopher': 557,
 'Stephen Baxter': 558,
 'Christopher Moore': 559,
 'Suzanne Collins': 560,
 'Curtis Sittenfeld': 561,
 'Annalee Newitz': 562,
 'Shanna Swendson': 563,
 'Robin LaFevers': 564,
 'William R. Forstchen': 565,
 'Anne Bishop': 566,
 'Vic James': 567,
 'Hannu Rajaniemi': 568,
 'Andrea Cremer': 569,
 'Mike Resnick': 570,
 'Sophia McDougall': 571,
 'Newt Gingrich': 572,
 'Félix J. Palma': 573,
 'Jessica Spotswood': 574,
 'Christopher Priest': 575,
 'Jon Courtenay Grimwood': 576,
 'Owen Sheers': 577,
 'Dan Vyleta': 578,
 'Michael Moorcock': 579,
 'Terry Bisson': 580,
 'Charles Stross': 581,
 'Garth Nix': 582,
 'Roshani Chokshi': 583,
 'Omar El Akkad': 584,
 'Colin Taber': 585,
 'Mark Twain': 586,
 'Tim Powers': 587,
 'Barry Hughart': 588,
 'Guy Saville': 589,
 'Jonathan Hickman': 590,
 'Randall Garrett': 591,
 'Ben Elton': 592,
 'David Kowalski': 593,
 'Ian McEwan': 594,
 'Tara Sim': 595,
 'Sydney Padua': 596,
 'S.E. Grove': 597,
 'Haruki Murakami': 598,
 'Lavie Tidhar': 599,
 'Martin H. Greenberg': 600,
 'Madeleine E. Robins': 601,
 'Beth Cato': 602,
 'Pip Ballantine': 603,
 'Ian Watson': 604,
 'Diana Gabaldon': 605,
 'James P. Hogan': 606,
 'MacKinlay Kantor': 607,
 'Alix E. Harrow': 608,
 'Casey McQuiston': 609,
 'P.N. Elrod': 610,
 'Charlie N. Holmberg': 611,
 'Bernardine Evaristo': 612,
 'Peter G. Tsouras': 613,
 'Jenny Davidson': 614,
 'Jodi Taylor': 615,
 'Gareth L. Powell': 616,
 'Deborah Harkness': 617,
 'Dennis E. Showalter': 618,
 'Dan Abnett': 619,
 'Katharine Burdekin': 620,
 'Mercedes Lackey': 621,
 'Tom        Miller': 622,
 'Allen M. Steele': 623,
 'Todd Strasser': 624,
 'Colleen Gleason': 625,
 'Mary Gentle': 626,
 'Felix Gilman': 627,
 'Cassandra Clare': 628,
 'Ken Grimwood': 629,
 'Fumi Yoshinaga': 630,
 'Marjorie M. Liu': 631,
 'Natasha Pulley': 632,
 'Sally Gardner': 633,
 'Ekaterina Sedia': 634,
 'Niall Ferguson': 635,
 'Laura Ruby': 636,
 'Bruce Sterling': 637,
 'Aliette de Bodard': 638,
 'Iver P. Cooper': 639,
 'D.B. Jackson': 640,
 'Ransom Riggs': 641,
 'Jeff Greenfield': 642,
 'Aldous Huxley': 643,
 'Douglas Niles': 644,
 'Leo Frankowski': 645,
 'Philip Reeve': 646,
 'Rivers Solomon': 647,
 'K. Chess': 648,
 'Maurice Broaddus': 649,
 'Austin Grossman': 650,
 'Lee   Kelly': 651,
 'Alison Morton': 652,
 'John Maddox Roberts': 653,
 'Lila Bowen': 654,
 'Evelyn Skye': 655,
 'Tony Schumacher': 656,
 'G.T. Almasi': 657,
 'David Mitchell': 658,
 'Lilith Saintcrow': 659,
 'Phil Foglio': 660,
 'John W. Hackett': 661,
 'Katherine Addison': 662,
 'Theodora Goss': 663,
 'Blake Crouch': 664,
 'Laura Anne Gilman': 665,
 'Caroline Tung Richmond': 666,
 'Libba Bray': 667,
 'Michael A. Stackpole': 668,
 'Nick Gevers': 669,
 'Thomas Harlan': 670,
 'Poul Anderson': 671,
 'Jim Fergus': 672,
 'Andre Norton': 673,
 'L.E. Modesitt Jr.': 674,
 'Warren Ellis': 675,
 'Holly Black': 676,
 'Lian Hearn': 677,
 'Adam Roberts': 678,
 'Ian R. MacLeod': 679,
 'C.L. Polk': 680,
 'Jessica Cluess': 681,
 'Richard Ned Lebow': 682,
 'Ramona Wheeler': 683,
 'Michael J.  Martinez': 684,
 'Richard Harland': 685,
 'Emma Bull': 686,
 'Tom Clancy': 687,
 'Jonathan Green': 688,
 'David Downing': 689,
 'Richard Garfinkle': 690,
 'Gary L. Blackwood': 691,
 'Amal El-Mohtar': 692,
 'Katherine Arden': 693,
 'Patrick Sheane Duncan': 694,
 'Chris Dingess': 695,
 'Helene Wecker': 696,
 'Ellen Datlow': 697,
 'Joseph Nassise': 698,
 'Jay Kristoff': 699,
 'Bec McMaster': 700,
 'Walter M. Miller Jr.': 701,
 'James Lovegrove': 702,
 'H.G. Parry': 703,
 'Jeffrey  Lewis': 704,
 'Stephanie Burgis': 705,
 'Simone Zelitch': 706,
 'Kathleen Baldwin': 707,
 'Dan Brown': 708,
 'Greg Van Eekhout': 709,
 'Frederic C. Rich': 710,
 'David  Walton': 711,
 'Elizabeth Fama': 712,
 'Tiffany Trent': 713,
 'Paul McAuley': 714,
 'Daryl Gregory': 715,
 'Kim Harrison': 716,
 'Robin McKinley': 717,
 'Paul J. McAuley': 718,
 'Bethany C. Morrow': 719,
 'Jonathan L. Howard': 720,
 'Kady Cross': 721,
 'Kay Kenyon': 722,
 'Melissa McShane': 723,
 'Kerryn Offord': 724,
 'Emily   Barton': 725,
 'Marguerite Bennett': 726,
 'Sylvia Izzo Hunter': 727,
 'J. Kathleen Cheney': 728,
 'Tina Connolly': 729,
 'Jason Heller': 730,
 'Koushun Takami': 731,
 'Brian Stableford': 732,
 'Nadine Brandes': 733,
 'David Gillham': 734,
 'D.J. Butler': 735,
 'Marcus Sakey': 736,
 'Destiny Soria': 737,
 'Julie Mayhew': 738,
 'Emily St. John Mandel': 739,
 'Emma Jane Holloway': 740,
 'Lynn Viehl': 741,
 'Peter Higgins': 742,
 'Shelley Adina': 743,
 'Kirk Mitchell': 744,
 'Bryan Talbot': 745,
 'Diana Wynne Jones': 746,
 'Jay Lake': 747,
 'Matt Fraction': 748,
 'Marion Zimmer Bradley': 749,
 'Rysa Walker': 750,
 'Pamela Sargent': 751,
 'Simon Stålenhag': 752,
 'Ruthanna Emrys': 753,
 'Melissa de la Cruz': 754,
 'Erin Morgenstern': 755,
 'Vonda N. McIntyre': 756,
 'Pat Frank': 757,
 'Megan Whalen Turner': 758,
 'Nevil Shute': 759,
 'Joanna Russ': 760,
 'Jerry Yulsman': 761,
 'David Means': 762,
 'W.L. Goodwater': 763,
 'Kester Grant': 764,
 'Christopher G. Nuttall': 765,
 'David  Barnett': 766,
 'Beth Bernobich': 767,
 'Nick Harkaway': 768,
 'Steven Harper': 769,
 'Sebastian P. Breit': 770,
 'James K. Morrow': 771,
 'Frances Hardinge': 772,
 'Melissa Scott': 773,
 'Jasper Kent': 774,
 'Anna North': 775,
 'Raymond Khoury': 776,
 'Dylan Meconis': 777,
 'Daniel José Older': 778,
 'David Mack': 779,
 'Cass Morris': 780,
 'Lara Elena Donnelly': 781,
 'Kerri Maniscalco': 782,
 'Zachary Thomas Dodson': 783,
 'William Ritter': 784,
 'A.J. Hartley': 785,
 'Mark Helprin': 786,
 'Rosalyn Eves': 787,
 'Michael Livingston': 788,
 'Paula Goodlett': 789,
 'Michael Swanwick': 790,
 'Robin Bridges': 791,
 'Alex Scarrow': 792,
 'Robert Jackson Bennett': 793,
 'Lauren Beukes': 794,
 'Stoney Compton': 795,
 'Jack London': 796,
 'Kit Whitfield': 797,
 'Christopher Evans': 798,
 'J.N. Stroyar': 799,
 'Andrew Roberts': 800,
 'Kage Baker': 801,
 'Kurt R.A. Giambastiani': 802,
 'Ken Liu': 803,
 'R.F. Kuang': 804,
 'Lisa   Maxwell': 805,
 'Victoria Schwab': 806,
 'Heidi Heilig': 807,
 'Brett Battles': 808,
 'Erika Johansen': 809,
 'Heather Dixon Wallwork': 810,
 'Mark Alder': 811,
 'Jordan Stratford': 812,
 'Alan Gratz': 813,
 'Adrienne Kress': 814,
 'Robert Skimin': 815,
 'Chris Moriarty': 816,
 'K.W. Jeter': 817,
 'L. Neil Smith': 818,
 'A.E. Moorat': 819,
 'Paul Guinan': 820,
 'Mary Hoffman': 821,
 'David Westheimer': 822,
 'John Barnes': 823,
 'Arvid Nelson': 824,
 'Rebecca Roanhorse': 825,
 'Kenneth John Macksey': 826,
 'Charles Rosenberg': 827,
 'Tom Sweterlitsch': 828,
 'Kevin J. Anderson': 829,
 'S.A. Chakraborty': 830,
 'Daniel H. Wilson': 831,
 'John Tiffany': 832,
 'Jonathan Maberry': 833,
 'Andrew J. Heller': 834,
 'Timur Vermes': 835,
 'Mackenzi Lee': 836,
 'Virginia Boecker': 837,
 'David Carrico': 838,
 'D.J. MacHale': 839,
 'R.S. Belcher': 840,
 'Lou Anders': 841,
 'Tessa Gratton': 842,
 'Lev A.C. Rosen': 843,
 'Ira Levin': 844,
 'Jean M. Auel': 845,
 'Arthur Slade': 846,
 'Chris Wooding': 847,
 'Brian Augustyn': 848,
 'Ayn Rand': 849,
 'Mark Chadbourn': 850,
 'Katherine Kurtz': 851,
 'C.C. Finlay': 852,
 'Paul Park': 853,
 'Marie Lu': 854,
 'Sandra Newman': 855,
 'Kate Heartfield': 856,
 'Cody Franklin': 857,
 "Claire  O'Dell": 858,
 'Alma Katsu': 859,
 'Lyndsay Ely': 860,
 'Brittany Cavallaro': 861,
 'Emma Berquist': 862,
 'Anette Pedersen': 863,

In [420]:
# authors table should have only unique authors
authors_df_final = pd.DataFrame(authors_dict.keys(), columns=['Author'], index=authors_dict.values())
authors_df_final

                      Author
0     Jennifer L. Armentrout
1                Rick Yancey
2            Stephenie Meyer
3              Pittacus Lore
4            Melissa Landers
...                      ...
3968              Megan Hart
3969           Amy J. Fetzer
3970          Sophia Johnson
3971             Martin Amis
3972          Julia L. Sauer

[3973 rows x 1 columns]

In [421]:
# save authors table

authors_df_final.to_csv('Authors_Table.csv')

In [422]:
# replace author names with author IDs

books_df = books_df.replace({'Author_Name': authors_dict})
books_df

,Book_Title,Author_Name,Genre,Edition_Language,Year_published,url,Book_Description,Rating_score,Rating_votes,Review_number
0,Obsidian,0,Science Fiction (Aliens),English,2011,https://www.goodreads.com/book/show/12578077-o...,Starting over sucks.When we moved to West Virg...,4.17,236780,18161
1,Onyx,0,Science Fiction (Aliens),English,2012,https://www.goodreads.com/book/show/13047090-onyx,BEING CONNECTED TO DAEMON BLACK SUCKS… Thanks ...,4.27,153429,10497
2,The 5th Wave,1,Science Fiction (Aliens),English,2013,https://www.goodreads.com/book/show/16101128-t...,"After the 1st wave, only darkness remains. Aft...",4.03,400600,29990
3,The Host,2,Science Fiction (Aliens),English,2008,https://www.goodreads.com/book/show/1656001.Th...,Melanie Stryder refuses to fade away. The eart...,3.84,915026,41673
4,Opal,0,Science Fiction (Aliens),None,2012,https://www.goodreads.com/book/show/13362536-opal,No one is like Daemon Black.When he set out to...,4.27,129006,9463
...,...,...,...,...,...,...,...,...,...,...
11099,Always Mine,3970,Science Fiction (Time Travel),English,2006,https://www.goodreads.com/book/show/524577.Alw...,The great Lord Damron is no more than a shadow...,3.55,276,27
11100,Hour of the Olympics,3625,Science Fiction (Time Travel),English,1998,https://www.goodreads.com/book/show/181401.Hou...,The #1 bestselling chapter book series of all ...,3.94,8710,284
11101,Tumbling Through Time,3834,Science Fiction (Time Travel),English,2000,https://www.goodreads.com/book/show/1888734.Tu...,"In her sparkling and hilarious debut, author G...",3.34,312,51
11102,Time's Arrow,3971,Science Fiction (Time Travel),English,1991,https://www.goodreads.com/book/show/23031.Time...,In Time's Arrow the doctor Tod T. Friendly die...,3.71,14934,1106
11103,Fog Magic,3972,Science Fiction (Time Travel),English,1943,https://www.goodreads.com/book/show/297891.Fog...,"Originally published in 1943, this edition fea...",3.88,1204,170

In [423]:
# get info for language table
languages_df = science_fiction_books_df[['Edition_Language']]
languages_df = languages_df.drop_duplicates()
languages_df = languages_df.reset_index(drop=True)
languages_df

   Edition_Language
0           English
1              None
2            French
3            Polish
4           Chinese
5          Japanese
6            German
7           Spanish
8           Russian
9           Italian
10          Finnish
11          Swedish
12           Arabic
13          Bengali
14            Dutch

In [424]:
# set up dict of languages
languages_dict = {}

for count, values in enumerate(list(languages_df['Edition_Language'])):
    languages_dict[values] = count

In [425]:
# save to csv
languages_df.to_csv('Languages_Table.csv')

In [426]:
# replacing languages with lang_id
books_df = books_df.replace({'Edition_Language': languages_dict})
books_df

,Book_Title,Author_Name,Genre,Edition_Language,Year_published,url,Book_Description,Rating_score,Rating_votes,Review_number
0,Obsidian,0,Science Fiction (Aliens),0,2011,https://www.goodreads.com/book/show/12578077-o...,Starting over sucks.When we moved to West Virg...,4.17,236780,18161
1,Onyx,0,Science Fiction (Aliens),0,2012,https://www.goodreads.com/book/show/13047090-onyx,BEING CONNECTED TO DAEMON BLACK SUCKS… Thanks ...,4.27,153429,10497
2,The 5th Wave,1,Science Fiction (Aliens),0,2013,https://www.goodreads.com/book/show/16101128-t...,"After the 1st wave, only darkness remains. Aft...",4.03,400600,29990
3,The Host,2,Science Fiction (Aliens),0,2008,https://www.goodreads.com/book/show/1656001.Th...,Melanie Stryder refuses to fade away. The eart...,3.84,915026,41673
4,Opal,0,Science Fiction (Aliens),1,2012,https://www.goodreads.com/book/show/13362536-opal,No one is like Daemon Black.When he set out to...,4.27,129006,9463
...,...,...,...,...,...,...,...,...,...,...
11099,Always Mine,3970,Science Fiction (Time Travel),0,2006,https://www.goodreads.com/book/show/524577.Alw...,The great Lord Damron is no more than a shadow...,3.55,276,27
11100,Hour of the Olympics,3625,Science Fiction (Time Travel),0,1998,https://www.goodreads.com/book/show/181401.Hou...,The #1 bestselling chapter book series of all ...,3.94,8710,284
11101,Tumbling Through Time,3834,Science Fiction (Time Travel),0,2000,https://www.goodreads.com/book/show/1888734.Tu...,"In her sparkling and hilarious debut, author G...",3.34,312,51
11102,Time's Arrow,3971,Science Fiction (Time Travel),0,1991,https://www.goodreads.com/book/show/23031.Time...,In Time's Arrow the doctor Tod T. Friendly die...,3.71,14934,1106
11103,Fog Magic,3972,Science Fiction (Time Travel),0,1943,https://www.goodreads.com/book/show/297891.Fog...,"Originally published in 1943, this edition fea...",3.88,1204,170

In [427]:
# creating descriptions table now that duplicate books were dropped
description_df = books_df[['Book_Description']]

# removing new lines and ' and ", they are causing issues with importing to the psql table
description_df = description_df.Book_Description.apply(lambda x: re.sub(r"[\n\"\']", "", x))

In [428]:
# save to csv
description_df.to_csv('Descriptions_Table.csv')

In [429]:
# set up genres table
genres_df = science_fiction_books_df[['Genre']]
genres_df = genres_df.drop_duplicates()
genres_df = genres_df.reset_index(drop=True)
genres_df

                             Genre
0         Science Fiction (Aliens)
1    Science Fiction (Alt History)
2   Science Fiction (Alt Universe)
3    Science Fiction (Apocalyptic)
4      Science Fiction (Steampunk)
5       Science Fiction (Dystopia)
6           Science Fiction (Hard)
7       Science Fiction (Military)
8         Science Fiction (Robots)
9    Science Fiction (Space Opera)
10   Science Fiction (Time Travel)

In [430]:
# save to csv
genres_df.to_csv('Genres_Table.csv')

In [431]:
# create dict
genres_dict = {}

for count, values in enumerate(list(genres_df['Genre'])):
    genres_dict[values] = count

In [432]:
# replace genres with genre_id using dict
books_df = books_df.replace({'Genre': genres_dict})
books_df

,Book_Title,Author_Name,Genre,Edition_Language,Year_published,url,Book_Description,Rating_score,Rating_votes,Review_number
0,Obsidian,0,0,0,2011,https://www.goodreads.com/book/show/12578077-o...,Starting over sucks.When we moved to West Virg...,4.17,236780,18161
1,Onyx,0,0,0,2012,https://www.goodreads.com/book/show/13047090-onyx,BEING CONNECTED TO DAEMON BLACK SUCKS… Thanks ...,4.27,153429,10497
2,The 5th Wave,1,0,0,2013,https://www.goodreads.com/book/show/16101128-t...,"After the 1st wave, only darkness remains. Aft...",4.03,400600,29990
3,The Host,2,0,0,2008,https://www.goodreads.com/book/show/1656001.Th...,Melanie Stryder refuses to fade away. The eart...,3.84,915026,41673
4,Opal,0,0,1,2012,https://www.goodreads.com/book/show/13362536-opal,No one is like Daemon Black.When he set out to...,4.27,129006,9463
...,...,...,...,...,...,...,...,...,...,...
11099,Always Mine,3970,10,0,2006,https://www.goodreads.com/book/show/524577.Alw...,The great Lord Damron is no more than a shadow...,3.55,276,27
11100,Hour of the Olympics,3625,10,0,1998,https://www.goodreads.com/book/show/181401.Hou...,The #1 bestselling chapter book series of all ...,3.94,8710,284
11101,Tumbling Through Time,3834,10,0,2000,https://www.goodreads.com/book/show/1888734.Tu...,"In her sparkling and hilarious debut, author G...",3.34,312,51
11102,Time's Arrow,3971,10,0,1991,https://www.goodreads.com/book/show/23031.Time...,In Time's Arrow the doctor Tod T. Friendly die...,3.71,14934,1106
11103,Fog Magic,3972,10,0,1943,https://www.goodreads.com/book/show/297891.Fog...,"Originally published in 1943, this edition fea...",3.88,1204,170

In [433]:
# set up ratings table
ratings_df = books_df[['Rating_score', 'Rating_votes', 'Review_number']]
ratings_df

       Rating_score  Rating_votes  Review_number
0              4.17        236780          18161
1              4.27        153429          10497
2              4.03        400600          29990
3              3.84        915026          41673
4              4.27        129006           9463
...             ...           ...            ...
11099          3.55           276             27
11100          3.94          8710            284
11101          3.34           312             51
11102          3.71         14934           1106
11103          3.88          1204            170

[11104 rows x 3 columns]

In [434]:
# save to csv
ratings_df.to_csv('Ratings_Table.csv')

In [435]:
# finalize books table by dropping columns not needed
books_df = books_df.drop(columns=['Book_Description', 'Rating_score', 'Rating_votes', 'Review_number'])
books_df

,Book_Title,Author_Name,Genre,Edition_Language,Year_published,url
0,Obsidian,0,0,0,2011,https://www.goodreads.com/book/show/12578077-o...
1,Onyx,0,0,0,2012,https://www.goodreads.com/book/show/13047090-onyx
2,The 5th Wave,1,0,0,2013,https://www.goodreads.com/book/show/16101128-t...
3,The Host,2,0,0,2008,https://www.goodreads.com/book/show/1656001.Th...
4,Opal,0,0,1,2012,https://www.goodreads.com/book/show/13362536-opal
...,...,...,...,...,...,...
11099,Always Mine,3970,10,0,2006,https://www.goodreads.com/book/show/524577.Alw...
11100,Hour of the Olympics,3625,10,0,1998,https://www.goodreads.com/book/show/181401.Hou...
11101,Tumbling Through Time,3834,10,0,2000,https://www.goodreads.com/book/show/1888734.Tu...
11102,Time's Arrow,3971,10,0,1991,https://www.goodreads.com/book/show/23031.Time...
11103,Fog Magic,3972,10,0,1943,https://www.goodreads.com/book/show/297891.Fog...

In [436]:
# save to csv
books_df.to_csv('Books_Table.csv')